{
  "signing": {
    "default": {
      "expiry": "{{cacert.expiry}}"
    },
    "profiles": {
      "server": {
        "expiry": "{{cacert.expiry}}",
        "usages": [
          "signing",
          "key encipherment",
          "server auth"
        ]
      },
      "client": {
        "expiry": "{{cacert.expiry}}",
        "usages": [
          "signing",
          "key encipherment",
          "client auth"
        ]
      },
      "peer": {
        "expiry": "{{cacert.expiry}}",
        "usages": [
          "signing",
          "key encipherment",
          "server auth",
          "client auth"
        ]
      }
    }
  }
}
