{
  "CN": "{{cacert.CN}}",
  "key": {
     "algo": "{{ cert_key_algo }}",
     "size": {{ cert_key_size }}
  },
  "names": [
    {
      "C": "{{cacert.C}}",
      "L": "{{cacert.L}}",
      "ST": "{{cacert.ST}}",
      "O": "{{cacert.CN}}",
      "OU": "{{cacert.OU}}"
    }
  ]
}
