{
  "CN": "{{ca.CN}}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ca.C}}",
      "L": "{{ca.L}}",
      "ST": "{{ca.ST}}",
      "O": "{{ca.CN}}",
      "OU": "{{ca.OU}}"
    }
  ]
}

