{
  "signing": {
    "default": {
      "expiry": "{{db.expiry}}"
    },
    "profiles": {
      "{{db.profile}}": {
        "usages": ["signing", "key encipherment", "server auth", "client auth"],
        "expiry": "{{db.expiry}}"
      }
    }
  }
}

