[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd \
  --name {{ alias }} \
  --cert-file=/etc/etcd/db.pem \
  --key-file=/etc/etcd/db-key.pem \
  --peer-cert-file=/etc/etcd/db.pem \
  --peer-key-file=/etc/etcd/db-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  {% if client_cert_auth -%} 
  --client-cert-auth \
  {% endif -%}
  --initial-advertise-peer-urls https://{{ address }}:2380 \
  --listen-peer-urls https://{{ ip }}:2380 \
  --listen-client-urls https://{{ ip }}:{{ etcd_port }},http://127.0.0.1:{{ etcd_port }} \
  --advertise-client-urls https://{{ address }}:{{ etcd_port }} \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ hosts | map(attribute='endpoint') | join(',') }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd \
  --max-txn-ops=4096
Restart=on-failure
RestartSec=5
  
[Install]
WantedBy=multi-user.target
