[Unit]
Description=etcd
Documentation=https://github.com/coreos
Requires=docker.service
Wants=network.target
After=network-online.target

[Service]
ExecStartPre=- /usr/bin/docker stop {{ server_name }}
ExecStartPre=- /usr/bin/docker rm {{ server_name }}
Environment="ETCD_DATA_DIR=/etc/etcd/etcd-data"
Environment="ETCD_SSL_DIR=/etc/ssl/certs"
Environment="ETCD_OPTS= \
  --name {{ alias }} \
  --cert-file=/etc/etcd/db.pem \
  --key-file=/etc/etcd/db-key.pem \
  --peer-cert-file=/etc/etcd/db.pem \
  --peer-key-file=/etc/etcd/db-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  {% if client_cert_auth -%}
  --client-cert-auth \
  {% endif -%}
  --initial-advertise-peer-urls https://{{ address }}:2380 \
  --listen-peer-urls https://{{ ip }}:2380 \
  --listen-client-urls https://{{ ip }}:{{ etcd_port }} \
  --advertise-client-urls https://{{ address }}:{{ etcd_port }} \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ hosts | map(attribute='endpoint') | join(',') }} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd \
  --max-txn-ops={{ max_ops }} \
  --max-request-bytes={{ max_bytes }}"
ExecStart=/usr/bin/docker run bitnami/etcd:{{ version }} \
  -p 2380:2380 -p 2379:2379 --volume=/etc/etcd/:/etc/etcd \
  --name {{ server_name }} --network host
ExecStop=/usr/bin/docker stop {{ server_name }} -t 10
ExecRestart=/usr/bin/docker restart {{ server_name }}
KillMode=none
RemainAfterExit=1
Restart=on-failure
RestartSec=5
Type=simple

[Install]
Alias={{ server_name }}
WantedBy=multi-user.target
