[Unit]
Description=etcd
Documentation=https://github.com/coreos
Requires=docker.service
Wants=network.target
After=network-online.target

#  unset ETCD_CLIENT_CERT_AUTH && \
#  unset ETCD_ADVERTISE_CLIENT_URLS && \
#  unset ETCD_TRUSTED_CA_FILE && \
#  unset ETCD_INITIAL_CLUSTER_TOKEN && \
#  unset ETCD_INITIAL_CLUSTER_STATE && \
#  unset ETCD_INITIAL_ADVERTISE_PEER_URLS && \
#  unset ETCD_DATA_DIR && \
#  unset ETCD_NAME && \
#  unset ETCD_LISTEN_CLIENT_URLS && \
#  unset ETCD_CERT_FILE && \
#  unset ETCD_LISTEN_PEER_URLS && \
#  unset ETCD_KEY_FILE && \
#  unset ETCD_INITIAL_CLUSTER && \
[Service]
ExecStartPre=sh -c '/usr/bin/docker kill {{ server_name }} || /usr/bin/true'
ExecStartPre=sh -c '/usr/bin/docker rm {{ server_name }} || /usr/bin/true'
ExecStart=/usr/bin/docker run --rm \
  --volume=/etc/etcd/:/etc/etcd \
  --name {{ server_name }} --network host \
  bitnami/etcd:{{ version }} /bin/sh -c "unset $(env | cut -d= -f1 | grep -i etcd) && \
  etcd \
  --name={{ alias }} \
  --cert-file=/etc/etcd/db.pem \
  --key-file=/etc/etcd/db-key.pem \
  --peer-cert-file=/etc/etcd/db.pem \
  --peer-key-file=/etc/etcd/db-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  {% if client_cert_auth -%}
  --client-cert-auth \
  {% endif -%}
  --initial-advertise-peer-urls https://{{ address }}:2380 \
  --listen-peer-urls https://{{ ip }}:2380 \
  --listen-client-urls https://{{ ip }}:{{ etcd_port }} \
  --advertise-client-urls https://{{ address }}:{{ etcd_port }} \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {{ hosts | map(attribute='endpoint') | join(',') }} \
  --initial-cluster-state new \
  --data-dir=/etc/etcd \
  --max-txn-ops={{ max_ops }} \
  --max-request-bytes={{ max_bytes }}"
ExecStartPre=sh -c '/usr/bin/docker stop {{ server_name }} || /usr/bin/true'
RemainAfterExit=1
Restart=on-failure
RestartSec=5
Type=simple

[Install]
Alias={{ server_name }}
WantedBy=multi-user.target
