{
    "CN": "{{ inventory_hostname }}",
    "hosts": [
      {% for item in auth_hosts[inventory_hostname] %}
      "{{ item }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ],
    "key": {
        "algo": "{{ cert_key_algo }}",
        "size": {{ cert_key_size }}
    },
    "names": [
        {
          "C": "{{peercert.C}}",
          "L": "{{peercert.L}}",
          "ST": "{{peercert.ST}}",
          "O": "{{peercert.O}}",
          "OU": "{{peercert.OU}}"
        }
    ]
}
