[Unit]
Description={{proxy_name}}-proxy
Documentation=https://etcd.io
Requires=docker.service
Wants=network.target
After=network-online.target

[Service]
ExecStartPre=sh -c '/usr/bin/docker kill {{proxy_name}} || /usr/bin/true'
ExecStartPre=sh -c '/usr/bin/docker rm {{proxy_name}} || /usr/bin/true'
ExecStart=/usr/bin/docker run --rm \
  --volume=/etc/etcd/:/etc/etcd \
  --name {{proxy_name}}-proxy --network host bitnami/etcd:{{ version }} \
  /bin/sh -c "unset $(env | cut -d= -f1 | grep -i etcd) && \
  etcd grpc-proxy start \
  --endpoints={{proxy_endpoints}} \
  --listen-addr={{proxy_address}}:{{proxy_port}} \
  --namespace=/{{proxy_name}}/ \
  --cert=/etc/etcd/db.pem \
  --key=/etc/etcd/db-key.pem \
  --data-dir=/etc/etcd \
  {% if not proxy_verify_peer -%}
  --insecure-skip-tls-verify \
  {% endif -%}
  --cacert=/etc/etcd/ca.pem \
  --max-send-bytes={{ max_bytes }} \
  --max-recv-bytes={{ max_bytes }}"
ExecStop=sh -c '/usr/bin/docker stop {{proxy_name}} || /usr/bin/true'
RemainAfterExit=1
Restart=on-failure
RestartSec=5
Type=simple

[Install]
Alias={{proxy_name}}-proxy
WantedBy=multi-user.target
